body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3e5368;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0 100vh;
    margin: 0;
}

.main-container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    max-height: 250px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

/* --- Cenario 3D --- */
.card-scene {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    perspective: 1000px; /* Da profundidade ao giro */
    cursor: pointer;
}

/* --- Objeto do Cartao (o que gira) --- */
.card-object {
    width: 100%;
    height: 50%;
    position: relative;
    transition: transform 0.6s; /* Velocidade do giro */
    transform-style: preserve-3d; /* Garante que os filhos fiquem em 3D */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Classe que sera adicionada pelo JS para girar */
.card-object.is-flipped {
    transform: rotateY(180deg);
}

/* --- Faces do Cartao --- */
.card-face {
    position: absolute;
    width: 100%;
    height: 250px;
    backface-visibility: hidden; /* Esconde o verso quando virado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Estilo da Frente */
.face-front {
    background-color: #fbffbd;
    color: #416992;
}

/* Estilo do Verso */
.face-back {
    background-color: #fbffbd;
    color: #901bb4;
    transform: rotateY(180deg); /* O verso ja comeca virado ao contrario */
}

/* Tipografia dentro do cartao */
.content {
    font-size: 1.8rem;
    padding: 20px;
}

.label-face {
    position: absolute;
    font-weight: bold;
    text-align: center;
    top: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
    margin: 0;
}

.instruction {
    position: absolute;
    bottom: 10px;
    font-size: 0.75rem;
    opacity: 0.5;
    margin: 0;
}

/* --- Controles --- */
.controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-btn {
    padding: 10px 30px;
    background-color: #2ed42e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.nav-btn:hover {
    background-color: #0075fa;
}

.nav-btn:disabled {
    background-color: #c9c9c9;
    cursor: not-allowed;
}

.menu {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #9706aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    transition: background 0.3s;
}
.menu-btn:hover {
    background-color: #0075fa;
}

#contador {
    font-weight: bold;
    color: #c3d0d1;
}
